@import "@fontsource/yanone-kaffeesatz/400.css"; 

@import "tailwindcss";

@theme {
  /* Adding a single brand color */
  --color-brand: #4A2C17;

  /* Adding a color scale */
  --color-primary: #4A2C17;
  --color-primary-50: #FFEDE4;
  --color-primary-100: #FFDCC7;
  --color-primary-150: #EDBD9F;
  --color-primary-200: #CFA285;
  --color-primary-250: #B2886D;
  --color-primary-300: #966E55;
  --color-primary-350: #7B563E;
  --color-primary-400: #603F29;
  --color-primary-450: #472915;
  --color-primary-500: #2E1503;
  
}

body {
  font-family: "Yanone Kaffeesatz";
  background-color: var(--color-primary-50);
}
